<div class="container">
    <div class="row SLIDE">
        
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 leftPANEL">
            <div class="slider">
                <a class="arrow prev" ng-click="mainCtr.nextSlide()"></a>
                <a class="arrow next" ng-click="mainCtr.prevSlide()"></a>
                <img ng-repeat="slide in mainCtr.slides" class="slide slide-animation nonDraggableImage" ng-swipe-right="mainCtr.nextSlide()" ng-swipe-left="mainCtr.prevSlide()" ng-hide="!mainCtr.isCurrentSlideIndex($index)" ng-src="{{slide.image}}" height="100%" width="100%">
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 rightPANEL" style="">
            <nav class="nav">
                <ul class="dots">
                    <a ng-repeat="slide in mainCtr.slides" class="wrap">
                        <li class="dot" ng-class="{'active':mainCtr.isCurrentSlideIndex($index)}" ng-click="mainCtr.setCurrentSlideIndex($index);">
                            {{slide.description}}</li>
                    </a>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row" style="margin-top: -5px">
        <div ng-cloak class="demo-grid">
            <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="1:1" md-gutter="15px" md-gutter-sm="25px" md-gutter-gt-sm="30px">
                <md-grid-tile class="mobile" md-gutter="0" md-colspan-gt-md="6" md-colspan-sm="2" md-colspan-xs="1" md-rowspan="1">
                    <md-grid-tile-footer class="mainHeader">
                        <a href="#/Phone"><h2>ĐIỆN THOẠI</h2></a>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile ng-mouseleave="mainCtr.showPhoneImage($index)" class="white" ng-repeat="phone in mainCtr.phones | limitTo:3" md-colspan-gt-md="2" md-colspan="1" md-rowspan="2" md-rowspan-sm="1">
                    <div ng-style="mainCtr.hide[$index]" ng-mouseenter="mainCtr.hidePhoneImage($index)">
                        <a class="phoneDetail" href="#/Phone/{{phone.id}}">
                            <img ng-src="{{phone.image}}" style="height: 250px">
                        </a>
                    </div>
                    <div class="itemHidden" ng-style="mainCtr.show[$index]">
                        <a href="#/Phone/{{phone.id}}">
                            <h3>{{phone.name | uppercase}}</h3>
                            <div></div>
                            <span><strong>Màn hình:</strong> {{phone.Screen}}"</span>
                            <span><strong>HĐH:</strong> {{phone.OS}}</span>
                            <span><strong>CPU:</strong> {{phone.CPU}}, RAM: {{phone.RAM}}</span>
                            <span><strong>Camera:</strong> {{phone.Camera}}</span>
                            <span><strong>Pin:</strong> {{phone.Battery}}</span>
                        </a>
                    </div>
                    <md-grid-tile-footer class="phoneFooter" ng-mouseenter="mainCtr.showPhoneImage($index)">
                        <a href="#/phones/{{phone.id}}">
                            <button class="button button--aylen button--round-l button--text-thick">MUA NGAY</button>
                        </a>
                        <h3>{{phone.name | uppercase}}</h3>
                        <h4>{{phone.price | currency:"":0 | comma2dot}} VNĐ</h4>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile class="mobile" md-gutter="0" md-colspan-gt-md="6" md-colspan-sm="2" md-colspan-xs="1" md-rowspan="1">
                    <md-grid-tile-footer class="mainHeader">
                        <a href="#/Laptop"><h2>LAPTOP</h2></a>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile ng-mouseleave="mainCtr.showPhoneImage($index+3)" class="white" ng-repeat="laptop in mainCtr.Laptops | limitTo:3" md-colspan-gt-md="2" md-colspan="1" md-rowspan="2" md-rowspan-sm="1">
                    <div ng-style="mainCtr.hide[$index+3]" ng-mouseenter="mainCtr.hidePhoneImage($index+3)">
                        <a class="phoneDetail" href="#/Laptop/{{laptop.id}}">
                            <img style="height: 250px" ng-src="{{laptop.icon}}">
                        </a>
                    </div>
                    <div class="itemHidden" ng-style="mainCtr.show[$index+3]">
                        <a href="#/Laptop/{{laptop.id}}">
                            <h3>{{laptop.name | uppercase}}</h3>
                            <div></div>
                            <span style="display: block"><strong>Màn hình:</strong> {{laptop.Display}}" </span>
                            <span style="display: block"><strong>CPU:</strong> {{laptop.CPU}}</span>
                            <span style="display: block"><strong>RAM:</strong> {{laptop.RAM}}/{{laptop.HardDisk}}</span>
                            <span style="display: block"><strong>VGA:</strong> {{laptop.VGA}}</span>
                            <span style="display: block"><strong>HĐH:</strong> {{laptop.OS}}</span>
                        </a>
                    </div>
                    <md-grid-tile-footer class="phoneFooter" ng-mouseenter="mainCtr.showPhoneImage($index+3)">
                        <a href="#/Laptop/{{laptop.id}}">
                            <button class="button button--aylen button--round-l button--text-thick">MUA NGAY</button>
                        </a>
                        <h3>{{laptop.name | uppercase}}</h3>
                        <h4>{{laptop.price | currency:"":0 | comma2dot}} VNĐ</h4>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile class="mobile" md-gutter="0" md-colspan-gt-md="6" md-colspan-sm="2" md-colspan-xs="1" md-rowspan="1">
                    <md-grid-tile-footer class="mainHeader">
                        <a href="#/Tablet"><h2>MÁY TÍNH BẢNG</h2></a>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile ng-mouseleave="mainCtr.showPhoneImage($index+6)" class="white" ng-repeat="tablet in mainCtr.tablets | limitTo:3" md-colspan-gt-md="2" md-colspan="1" md-rowspan="2" md-rowspan-sm="1">
                    <div ng-style="mainCtr.hide[$index+6]" ng-mouseenter="mainCtr.hidePhoneImage($index+6)">
                        <a class="phoneDetail" href="#/Tablet/{{tablet.id}}">
                            <img style="height: 250px" ng-src="{{tablet.icon}}">
                        </a>
                    </div>
                    <div class="itemHidden" ng-style="mainCtr.show[$index+6]">
                        <a href="#/Tablet/{{tablet.id}}">
                            <h3>{{tablet.name | uppercase}}</h3>
                            <div></div>
                            <span><strong>Màn hình:</strong> {{tablet.Screen}}" </span>
                            <span><strong>HĐH:</strong> {{tablet.OS}} - <strong>CPU:</strong> {{tablet.CPU}}</span>
                            <span><strong>RAM:</strong> {{tablet.RAM}} - <strong>ROM:</strong> {{tablet.ROM}}</span>
                            <span><strong>CAMERA:</strong> {{tablet.Camera}}</span>
                            <span><strong>Kết nối:</strong> {{tablet.Connect}}</span>
                        </a>
                    </div>
                    <md-grid-tile-footer class="phoneFooter" ng-mouseenter="mainCtr.showPhoneImage($index+6)">
                        <a href="#/Tablet/{{tablet.id}}">
                            <button class="button button--aylen button--round-l button--text-thick">MUA NGAY</button>
                        </a>
                        <h3>{{tablet.name | uppercase}}</h3>
                        <h4>{{tablet.price | currency:"":0 | comma2dot}} VNĐ</h4>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div>
</div>
