<div class="container tabletList">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 itemTab" ng-repeat="tablet in TabletList.tablets | orderBy: tabletList.price">
            <p class="imgItem">
                <a href="#/Tablet/{{tablet.id}}">
                    <img src="{{tablet.icon}}" alt="{{tablet.name}}" height="180px" height="180px">
                </a>
            </p>
            <p class="name"><a href="#/Tablet/{{tablet.id}}">{{tablet.name | uppercase}}</a></p>
            <p class="price">{{tablet.price}}</p>
            <span><strong>Màn hình:</strong> {{tablet.Screen}}" </span>
            <span><strong>HĐH:</strong> {{tablet.OS}} - <strong>CPU:</strong> {{tablet.CPU}}</span>
            <span><strong>RAM:</strong> {{tablet.RAM}} - <strong>ROM:</strong> {{tablet.ROM}}</span>
            <span><strong>CAMERA:</strong> {{tablet.Camera}}</span>
            <span><strong>Kết nối:</strong> {{tablet.Connect}}</span>
        </div>
    </div>
</div>
