<legend>Hỏi, đáp về sản phẩm</legend>
<form ng-submit="Detail.addCmt(Detail.phone)">
    <fieldset>
        <textarea class="areaCmt" ng-model="Detail.cmt" placeholder="Ý kiến của bạn về sản phẩm ..."></textarea>
        <button type="submit" class="md-raised md-primary md-button btnCmt">
            <strong>GỬI</strong>
        </button>
    </fieldset>
</form>
<ul>
    <h4>Mới nhất</h4>
    <li ng-repeat="cmt in Detail.cmts.slice().reverse() track by $index">
        <blockquote>
            <img class="imgCmt" src="../images/User-Login.png">
            <cite class="nameCmt">Quang Nhật</cite>
            <pre class="preCmt">{{cmt}}</pre>
            <a class="exBtnCmt">
                <button>Thích</button>
                <button ng-click="Detail.displayRepForm()">Trả lời</button>
                <button ng-click="Detail.displayRep()">Xem tất cả câu trả lời</button>
            </a>
            <form ng-style="Detail.showRepForm" ng-submit="Detail.addRep(Detail.phone)">
                <fieldset class="replyCmt">
                    <textarea class="areaCmt" ng-model="Detail.rep" placeholder="Ý kiến của bạn ..."></textarea>
                    <button type="submit" class="md-raised md-primary md-button btnCmt" ng-click="Detail.hideRepForm()">
                        <strong>GỬI</strong>
                    </button>
                </fieldset>
            </form>
            <fieldset ng-style="Detail.showRep" ng-repeat="rep in Detail.replies.slice().reverse() track by $index">
                <img class="imgRep" src="../images/User-Login.png">
                <cite class="nameRep">Quang Nhật</cite>
                <pre class="preRep">{{rep}}</pre>
                <a class="exBtnRep">
                    <button>Thích</button>
                </a>
            </fieldset>
        </blockquote>
    </li>
</ul>
